 .social-media-links {
     margin-top: 20px;
     width: 100%;

 }

 .social-media-links i {
     font-size: 26px;
     margin-right: 0;
 }

 /* .social-media-links i:first-of-type {
     color: #1877F2
 }

 .social-media-links i:nth-of-type(2) {
     color: #E4405F
 }

 .social-media-links i:nth-of-type(3) {
     color: #0A66C2
 }

 .social-media-links i:last-of-type {
     color: #1DA1F2
 } */